{% extends 'poll/base.html' %}

{% block content %}
    <div class="jumbotron text-left">
        <h1 class="display-4">FairVote</h1>
        <h2>Blockchain as a Solution</h2>
        <p class="lead my-4">Wouldn't it be nice to be allowed to vote using a secure online platform that provides transparency into elections results?
            Imagine an online system where it is possible to vote using a computer, tablet, mobile phone or a multimedia totem without the need for voters to physically access the polling station, yet offering the same or better guarantees compared to a public election:
            <ul>
                <li>Secure and anonymous votes, which can be verified at any moment</li>
                <li>Impossibility to vote twice or to commit electoral fraud</li>
            </ul>
        </p>
    </div>
{% endblock %}